nav ul {
    list-style-type: none; /* none, disc, circle, square */
    margin:0;
    padding: 0;
  }
  
  nav li {
    border: 1px solid #000000;
    background-color: red;
    color: aquamarine;
    padding: 0px;
    margin: 10px;
    width: 150px;
    text-align: center;
    display: inline-block;
  }

  nav li a {
    color: aquamarine;
    display: block;
    padding: 10px;
    display: block;
  }

 nav li a:hover {
    background-color: maroon;
  }